<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{/fragments/layout.html}">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.6/css/bootstrap.min.css} " />

</head>


<body>

	<section layout:fragment="content">

		<p th:text="${message}">placeholder message</p>
				
		<img th:src="@{/images/apple.jpeg}" alt="Image" />
		<p th:text="${message}" />
		<p th:text="#{home.welcome}">Welcome to our grocery store!</p>


		<h1>Welcome to spring with layout2...</h1>
		<!--<img th:src="@{/images/apple.jpeg}"/>-->

		<p>In two years, it will be <span th:text="2013 + 2">1494</span>.</p>

		<div th:if="${admin == true}">
			<h1>Admin</h1>
		</div>
	</section>
</body>

</html>