<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/fragments/layout.html}">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.6/css/bootstrap.min.css} " />

</head>


<body>

	<section layout:fragment="content">
		<div class="container my-5" th:each="product : ${productsWithDetails}">

			Name : <span th:text="${product.name}" />
			<br />
			Price : <span th:text="${product.price}" />

		</div>
	</section>
</body>

</html>